.image-arrow-bottom {
  background-image: url(./images/arrow-bottom.png);
}

.image-arrow-left {
  background-image: url(./images/arrow-left.png);
}

.image-arrow-right {
  background-image: url(./images/arrow-right.png);
}

.image-arrow-play {
  background-image: url(./images/arrow-play.png);
}